<div class="pptx-embed">
  <iframe class="pptx-viewer" style="width:100%; height:500px; border:1px solid #ccc;"></iframe>
  <script>
    (function() {
      var frame = document.currentScript.previousElementSibling;
      var base = window.location.href.replace(/index\.html$/, '').replace(/\?.*$/, '').replace(/\/$/, '');
      frame.src = 'https://view.officeapps.live.com/op/embed.aspx?src=' + encodeURIComponent(base + '/{{ include.file }}');
    })();
  </script>
  <p><a href="{{ include.file }}">Download PowerPoint file</a></p>
</div>
